a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs {
    border-bottom:0 none;
}
.tab .nav-tabs li{
    margin-right: 10px;
}
.tab .nav-tabs li a{
    position: relative;
    padding: 15px;
    color: #fff;
    font-size: 17px;
    z-index: 1;
}
.tab .nav-tabs li a:hover{
    background:transparent;
    border:1px solid transparent;
}
.tab .nav-tabs li a:before{
    content: "";
    width:100%;
    height:100%;
    position:absolute;
    bottom: 8px;
    left:-1px;
    font-size:17px;
    background: #72b7a0;
    border: 1px solid #d3d3d3;
    border-bottom: 0px none;
    border-radius: 10px 10px 0 0;
    transform-origin: left center 0;
    transform: perspective(4px) rotateX(2deg);
    z-index:-1;
}
.tab .nav-tabs li.active a:before{
    background: #fff;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border:1px solid transparent;
    background:transparent;
    color: #444;
    z-index: 2;
}
.tab-content {
    border: 1px solid #d3d3d3;
    padding: 20px;
    background:#fff;
    line-height: 22px;
}
.tab-content .tab-pane h3{
    margin-top: 0;
}
@media only screen and (max-width: 767px) {
    .tab .nav-tabs li a{
        padding: 15px 10px;
        font-size: 14px;
    }
    .tab .nav-tabs li a:before{
        bottom: 6px;
    }
}
@media only screen and (max-width: 480px) {
    .tab .nav-tabs li{
        width:100%;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li a:before{
        bottom: 0;
        transform: none;
        border-bottom: 1px solid #d3d3d3;
    }
}