a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    position: relative;
    border-bottom: none;
}
.tab .nav-tabs li{
    margin: 0;
}
.tab .nav-tabs li a{
    display: block;
    padding: 20px 15px;
    background: #fff;
    font-size: 17px;
    font-weight: 700;
    color: #f2bd47;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    border: none;
    margin-right: 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #e9e9e9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    perspective-origin: 50% 100%;
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform-origin: 50% 100% 0;
    transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
}
.tab .nav-tabs li.active a:after{
    background: #eee6d2;
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
    color: #4b489b;
    border: none;
}
.tab .tab-content{
    padding: 20px;
    background: #eee6d2;
    font-size: 15px;
    color: #757575;
    line-height: 26px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
}